* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #0f172a;
    color: #e5e7eb;
    line-height: 1.6;
}

/* Navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    background-color: #020617;
    border-bottom: 1px solid #1e293b;
}

.logo {
    font-size: 1.3rem;
    font-weight: 700;
    color: #38bdf8;
    
}

.navbar nav a {
    margin-left: 24px;
    text-decoration: none;
    color: #cbd5f5;
    font-weight: 500;
}

.navbar nav a:hover {
    color: #38bdf8;
}

/* Hero Section */
.hero {
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    gap: 50px;
    padding: 80px 8%;
    align-items: center;
}

.hero-text h1 {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 20px;
}

.hero-text p {
    max-width: 500px;
    color: #94a3b8;
    margin-bottom: 30px;
}

.buttons {
    display: flex;
    gap: 15px;
}

.btn {
    padding: 12px 22px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: 600;
    transition: 0.2s ease;
}

.primary {
    background-color: #38bdf8;
    color: #020617;
}

.primary:hover {
    background-color: #0ea5e9;
}

.secondary {
    border: 1px solid #38bdf8;
    color: #38bdf8;
}

.secondary:hover {
    background-color: #020617;
}
.section {
    padding: 60px;
    color: #fff;
}

.card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}

.card {
    background: #111827;
    padding: 20px;
    border-radius: 12px;
}

.skills span {
    display: inline-block;
    background: #1f2933;
    padding: 10px 16px;
    margin: 8px;
    border-radius: 20px;
}

.contact-form {
    max-width: 400px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 12px;
    margin-bottom: 12px;
    border-radius: 8px;
    border: none;
}

.contact-form button {
    padding: 12px;
    width: 100%;
    background: #38bdf8;
    border: none;
    font-weight: bold;
}


/* Card */
.hero-card {
    background-color: #020617;
    border: 1px solid #1e293b;
    border-radius: 10px;
    padding: 30px;
}

.hero-card h3 {
    margin-bottom: 15px;
    color: #38bdf8;
}

.hero-card ul {
    list-style: none;
}

.hero-card li {
    padding: 8px 0;
    border-bottom: 1px solid #1e293b;
    color: #cbd5f5;
}

.hero-card li:last-child {
    border-bottom: none;
}

/* Footer */
footer {
    text-align: center;
    padding: 20px;
    border-top: 1px solid #1e293b;
    background-color: #020617;
    color: #94a3b8;
}
